# OS
.DS_Store

# Frontend (CRA)
frontend/node_modules/
frontend/build/
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/coverage/

# Python
backend/__pycache__/
backend/*.py[cod]
backend/.venv/
backend/venv/
backend/.env
