@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-canvas font-sans antialiased text-zinc-900;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer components {
  .react-flow__node.selected > div {
    @apply border-accent shadow-md ring-2 ring-accent ring-offset-2 ring-offset-canvas;
  }

  .react-flow__edge.selected .react-flow__edge-path {
    stroke: theme('colors.accent.DEFAULT') !important;
    stroke-width: 2.5 !important;
  }
}
